*{
    font-family: "Arial";
}
body{
    text-align: center;
    background-color: lightsteelblue !important;
}

#clavier td {
    width: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    color: #F9F9F9;
    border: 1px solid #DDDDDD;
    background-color: #393939;
}

#clavier {
    border-collapse: separate;
    border-spacing: 3px;
    margin: auto;
    padding: 10px;
}

#clavier .invisible {
    border: none;
    cursor: auto;
    background-color: #fff;
}

#mot{
    margin: auto;
    font-size: 25px;
}
